{% extends "layouts/base.html" %}
 
{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<style>
    input,select {
        background-color: #2C394B;
        color:bisque
    }

    #example_filter{
        position:relative; 
        left:80%;
    }
    #example_info{
        position:relative; 
        left:80%; 
        color:bisque;
        
    }
    #example_previous,#example_next{
        color:bisque;
        
    }
    #example_wrapper{
        resize:none        
    }
    

</style>    
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Ημερήσια Έσοδα Βιοκλινικής</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><h3 class="comma">{{cost}} {{daily_revenue}}</h3>
                                                        
                                                    </h3>
														
                                                </div>

                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">67%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ daily sales section ] end-->
                                <!--[ Monthly  sales section ] starts-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Μηνιαία Έσοδα Βιοκλινικής</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><h3 class="comma">$
                                                        {{monthly_revenue}}</h3></h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">36%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme2" role="progressbar"
                                                        style="width: 35%;" aria-valuenow="35" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Monthly  sales section ] end-->
                                <!--[ year  sales section ] starts-->
                                <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Συνολικά Έσοδα Βιοκλινικής</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><h3 class="comma">$
                                                        {{total_revenue}}</h3></h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">80%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ year  sales section ] end-->
                                <!--[ Recent Users ] start-->
                                <div class="col-xl-8 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Ιστορικό Ασθενών</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table id="example" class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center" style="text-align: center;">
                                                            prk
                                                        </th>
                                                        <th class="text-center" style="text-align: center;">
                                                            Μήνας
                                                        </th>
                                                        <th class="text-center" style="text-align: center;">
                                                            Αριθμός Ασθενών
                                                        </th>
                                                        <th class="text-center" style="text-align: center;">
                                                            Καθαρή Αξία
                                                        </th>
                                                        <th class="text-center" style="text-align: center;">
                                                            Φόρος Εισοδήματος
                                                        </th>
                                                        <th class="text-center" style="text-align: center;">
                                                            Πληρωτέο
                                                        </th>   
                                                        <th class="text-left" style="text-align: right;">
                                                            Επιλογές
                                                        </th>    
                                                    </tr> 
                                                    </thead>
                                                    <tbody>      
                                                    {% for inv in invoice1 %}
                                                    <tr class="unread">
                                                        <td>
                                                            <h6 class="mb-1" style="text-align: center;">{{inv.prk}}</h6>
                                                            <p class="m-0"></p>
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1" style="text-align: center;">{{inv.period_exam}}</h6>
                                                            <p class="m-0"></p>
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1" style="text-align: center;">{{inv.cnt}}</h6>
                                                            <p class="m-0"></p>
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1" style="text-align: center;">{{inv.sum_cost}}</h6>
                                                            <p class="m-0"></p>
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1" style="text-align: center;">{{inv.fe}}</h6>
                                                            <p class="m-0"></p>
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1" style="text-align: center;">{{inv.payment}}</h6>
                                                            <p class="m-0"></p>
                                                        </td>
                                                        <td><a href="{% url 'invoice_analysis' inv.period %}" class="label theme-bg2 text-white f-12" style="text-align: center;">Ανάλυση {{inv.period_exam}}</a>
                                                            </td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tfoot>
                                                        <tr>
                                                            <th class="unread">                                                                
                                                                </th>
                                                            <th hidden>Μήνας
                                                            </th>
                                                            <th hidden>Αριθμός Ασθενών</th>
                                                            <th hidden>Καθαρή Αξία</th>
                                                            <th  hidden>Φόρος Εισοδήματος</th>    
                                                            <th hidden >Επιλογές</th>    
                                                        </tr> 
                                                    </tfoot>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Recent Users ] end-->

                                <!-- [ statistics year chart ] start -->
                                <div class="col-xl-4 col-md-6">
                                    <div class="card card-event">
                                    </div>
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-zap f-30 text-c-green"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300"><h3 class="comma">{{total_visits_biokliniki}}</h3></h3>
                                                    <span class="d-block text-uppercase">Σύνολο Ασθενών Βιοκλινική</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300"><h3 class="comma">{{total_visits_lifecheck}}</h3></h3>
                                                    <span class="d-block text-uppercase">Σύνολο Ασθενών LifeCheck</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ statistics year chart ] end -->
                                <!--[social-media section] start-->
                                <div class="col-md-12 col-xl-12">
                                    <div class="card card-social">
                                        <div class="card-block border-bottom">
                                                <div style="text-align:center"><h4>Έσοδα Βιοκλινικής</h4></div>
                                                <div id="morris-bar-chart" style="height:300px"></div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-12">
                                    <div class="card card-social">
                                        <div class="card-block border-bottom">
                                                <div style="text-align:center"><h4>Έσοδα ανά Εξέτση</h4></div>
                                                <div id="morris-bar-chart2" style="height:300px"></div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>
<script>

    const collection = document.getElementsByClassName("comma");
        for (let i = 0; i < collection.length; i++) {
            collection[i].innerHTML = collection[i].innerHTML.replace(',','');
    }

    $(document).ready(function () {
    // Setup - add a text input to each footer cell

 
    // DataTable
    var table = $('#example').DataTable({
        initComplete: function () {
            // Apply the search
            this.api()
                .columns()
                .every(function () {
                    var that = this;
 
                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                });
        },
    });
});
</script>
<!-- chart-morris Js -->
    <script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>
    
    <script>
        Morris.Bar({{chart_data|safe }});
        Morris.Bar({{chart_data2|safe }});
    
</script>
{% endblock javascripts %}
